<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.profile_picture %}
          <img src="{{site.profile_picture | relative_url}}" alt="Profile Picture" />
        {% endif %}

        <p class="view" style="text-align: center;">
          <h1>
            <a href="{{ "/" | absolute_url }}">{{ site.name }}</a>
          </h1>
        </p>
        <p>More than 6 years of working experience in full-stack web applications development, Websites with CMS development, systems integration, web services and other web technologies.
        </p>
        <p class="view" style="text-align: center;">
          <a href="{{ site.linkedIn }}">LinkedIn</a> &#8226; <a href="{{ site.github.owner_url }}">GitHub</a>
        </p>
        
      </header>

      <section>
        <!-- {{ content }} -->
        <h1>{{ site.position }}</h1>
        <div style="margin: 0 0 30px 30px;">
          <h2>Front-End</h2>
          <blockquote style="margin-left:30px">
            HTML5<br/>
            CSS (SASS / SCSS / LESS)<br/>
            Bootstrap<br/>
            JavaScript (jQuery, AJAX) <br/>
            ES6+, TypeScript, Redux<br/>
            Angular2+<br/>
            ReactJS &amp; React Native<br/>
            PWA (Progressive Web Application)
          </blockquote>
        </div>
        <div style="margin: 0 0 30px 30px;">

          <h2>Back-End</h2>
          <blockquote style="margin-left:30px">
            PHP (Procedural)<br/>
            Laravel / Lumen<br/>
            ASP.Net
          </blockquote>
        </div>
        <div style="margin: 0 0 30px 30px;">
          <h2>Infrastructure</h2>
          <blockquote style="margin-left:30px">
            AWS (Amazon Web Services)<br/>
            Google Cloud Platform<br/>
            GoDaddy
          </blockquote>
        </div>
        <div style="margin: 0 0 30px 30px;">
          <h2>Databases</h2>
          <blockquote style="margin-left:30px">
            MySQL<br/>
            MS Access / SQL Server<br/>
            Firebase / Cloud Firestore
          </blockquote>
        </div>
        <div style="margin: 0 0 30px 30px;">
          <h2>API / Integrations</h2>
          <blockquote style="margin-left:30px">
            Accounting Softwares (XERO, MYOB, Quickbooks)<br/>
            Datamolino | Bookkeeping automation<br/>
            KeyPay | Cloud Payroll Software<br/>
            Google (Maps, Drive, Calendar, Contacts, Gmail)<br/>
            Microsoft (OneDrive, Outlook Calendar)<br/>
            Dropbox
          </blockquote>
        </div>
        <div style="margin: 0 0 30px 30px;">
          <h2>Development Tools</h2>
          <blockquote style="margin-left:30px">
            GitHub/Bitbucket &#8226; Trello &#8226; Slack &#8226; Sequel Pro &#8226; Postman / Swagger &#8226; Photoshop &#8226; Sketch &#8226; AMPPS/XAMPP &#8226; VS Code &#8226; SourceTree
          </blockquote>
        </div>

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
